
.Accordion img {
  position: absolute;
  top: -15rem;
  right: -7rem;
  width: 20rem;
  height: auto;
}

.Accordion--item {
  position: relative;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 1.25em 1.25em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}
.Accordion--item:hover  {
  position: relative;
  padding: 1rem;
  cursor: pointer;
  box-shadow: 0 0.2em 0.4em 0.4em rgba(10, 10, 10, 0.1)
} 
.Accordion--item div {
  cursor: pointer;
  pointer-events: none;
}

.Accordion--item.active .flex svg {
  float: right;
  transform: rotate(-180deg);
  transition: ease all 0.3s;
}
.Accordion--item .flex svg {
  float: right;
  transition: ease all 0.3s;
}
/* .Accordion--item.active .flex .plus-icon, .Accordion--item .flex .minus-icon {
  display: none
}
.Accordion--item.active .flex .minus-icon, .Accordion--item .flex .plus-icon {
  display: block
} */


.Accordion--item.active .Accordion--item__inner{
  max-height: 100rem;
  transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  transition-duration: 0.5s;
  transition-property: 100rem;
}
.Accordion--item.active .Accordion--item__content {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
}

.Accordion--item__inner {
  max-height: 0;
  overflow: hidden;
  transition-duration: 0.5s;
  z-index: 1;
  position: relative;
}
.Accordion--item__content {
  opacity: 0;
  transform: translateY(-1rem);
  transition-timing-function: linear, ease;
  transition-duration: 0.1s;
  transition-delay: 0.5s;
}

/* .Accordion--item .description {
  opacity: 0;
  transition: all .5s ease-in-out;
  height: 0;
  display: none;
}

.Accordion--item.active .description {
  opacity: 1;
  height: auto;
  display: block;
  transition: all 2s ease-in-out;
} */
