.Accordion {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.Accordion img {
  position: absolute;
  top: -15rem;
  right: -7rem;
  width: 20rem;
  height: auto;
}

.Accordion--item {
  position: relative;
  padding: 1rem;
  background: var(--bg2);
  margin-bottom: 2rem;
  cursor: pointer;
}

.Accordion--item div {
  cursor: pointer;
  display: block;
  margin: 0;
  font-size: 1.4rem;
  letter-spacing: 0.02rem;
  pointer-events: none;
}

.Accordion--item .flex svg {
  float: right;
  transition: ease all 0.3s;
}

.Accordion--item.active .flex svg {
  transform: rotate(-180deg);
}

.Accordion--item .description {
  padding-top: 0;
  opacity: 0;
  transition: ease all 0.8s;
  height: 0;
  visibility: hidden;
  display: none;
}

.Accordion--item.active .description {
  padding-top: 2rem;
  opacity: 1;
  height: 100%;
  visibility: visible;
  display: block;
}
