@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px)
	}
	60% {
		-webkit-transform: translateY(-15px);
		-ms-transform:     translateY(-15px);
		transform:         translateY(-15px)
	}
}

.animation-emphasized-text:hover {
  text-decoration: underline;
}
.service-list-item img {  
  text-transform: uppercase;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  color: white;
}
.service-list-item:hover img {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}


.img-1 {
    background-image: url('../../static/img/colorful-code.jpg')
}

.img-2 {
    background-image: url('../../static/img/coffee.png')
}
.img-3 {
    background-image: url('../../static/img/code.jpg')
}
.header{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
.header.active {
    opacity: 1
  }
.header-container {
      position: relative;
  }

  .testimonials-holder .slide-container {
    margin: auto; }
  
  .testimonials-holder .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
  }
  .testimonials-holder .each-slide span {
    padding: 20px;
    font-size: 20px;
    text-align: center;
    max-width: 90%;
    color: white;
  }
  .testimonials-holder .indicators div{
    background: #3072f9 !important;
    opacity: 0.25;
  }
  .testimonials-holder .indicators div.active {
    opacity: 0.75 !important;
  }
  .testimonials-holder .nav {
    background: #3072f9 !important;
  }
  .Nav--Group {
    position: relative;
    cursor: pointer;
  }
  
  .Nav--Group svg {
    position: absolute;
    color: #3072f9;
  }
  .Nav--Group.active svg {
    transform: rotate(-180deg);
  }
  .Nav--GroupLinks {
    top: 100%;
    left: 0;
    width: 10em;
    max-height: 0;
    overflow: hidden;
    transition: 0.3s ease all;
  }
  
  .Nav--Group.active .Nav--GroupLinks {
    max-height: 100vh;
    opacity: 1;
    transition: 0.6s ease all;
  }
  

  
  .Nav--GroupLink {
    display: block;
    position: relative;
  }
